.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

/* ------------------------- */
.slide__section-1 .swiper-slide {
  width: 100%;
}
.slide__section-1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ------------------------- */
.slide__section-3 {
  position: relative;
}
.slide__section-3 .swiper-slide {
  display: flex;
  flex-flow: column;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
}
.slide__section-3 .swiper-slide .img-description {
  width: 100%;
}
.slide__section-3 .swiper-slide .img-description img {
  width: 100%;
}

.slide__section-3 .slide__section-3__btn-next {
  position: absolute;
  left: -30px;
  top: 30%;
  width: 30px;
  height: 30px;
  background: url(../image/icon/Circled-Chevron.svg);
  background-size: contain;
  background-position: center;
  transform: rotate(180deg);
}
.slide__section-3 .slide__section-3__btn-prev {
  position: absolute;
  right: -30px;
  top: 30%;
  width: 30px;
  height: 30px;
  width: 30px;
  height: 30px;
  background: url(../image/icon/Circled-Chevron.svg);
  background-size: contain;
  background-position: center;
}
