@font-face {
  font-family: meey-medium;
  src: url(../fonts/FMeeyLand/Meeyland\ Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  position: relative;

  font-family: meey-medium;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  padding: 40px 13vw 0;
  background: #eff2f7;
}
section:nth-child(2) {
  background: #fff;
}
section:nth-child(4) {
  padding: 0;
  background: rgba(26, 75, 183, 1);
}

/* BANNER---------------------------------------------------------- */
.banner {
  position: relative;
  width: 100%;
  min-height: 120vh;
  display: flex;
  align-items: center;
}
.banner .background-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/banner.svg);
  background-position: center;
  background-size: cover;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.banner .background-banner img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}

.banner .background-banner img:last-child {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #27377957;
}

/* nav */
.nav {
  padding: 20px 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1000;
}

.nav.sticky {
  padding: 5px 13vw;
  background-color: #eff2f7;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.nav.sticky .logo h5 {
  filter: invert(1);
}
.nav.sticky #language p,
.nav.sticky #language .earth,
.nav.sticky #language .arrowLang {
  filter: invert(1);
}

.nav .logo {
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}
.nav .logo img {
  width: 49px;
}
.nav .logo h5 {
  margin-left: 20px;
  float: right;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
}
.nav.sticky h5 {
  margin-left: 5px;
}
.nav .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s;
}
.nav .nav-link ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s;
}
.nav .nav-link ul li {
  padding: 20px;
  margin-right: 5px;
  transition: all 0.5s;
}
.nav .nav-link ul li a {
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.nav.sticky .nav-link ul li {
  padding: 10px;
  transition: all 0.5s;
}
.nav.sticky .nav-link ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}

.nav #language-download {
  display: flex;
  flex-direction: row;
}
.nav #language-download .lang {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 30px;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav #language-download .lang .btnDropDw {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav.sticky #language-download .lang .btnDropDw {
  filter: invert(1);
}
.nav #language-download .lang .btnDropDw p {
  margin: 0 5px;
  color: #fff;
}

.nav #language-download .lang .list-lang-menu {
  position: absolute;
  top: 70px;
  right: -10px;
  background-color: #fff;
  display: inline;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.nav #language-download .lang .list-lang-menu.activeTg {
  top: 40px;
  visibility: visible;
  opacity: 1;
}
.nav #language-download .lang .list-lang-menu::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  right: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.nav #language-download .lang .list-lang-menu ul {
  text-align: center;
}
.nav #language-download .lang .list-lang-menu li {
  padding: 15px 20px;
}
.nav #language-download .lang .list-lang-menu li:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.nav #language-download .lang .list-lang-menu li:hover {
  background: #eff2f7;
}
.nav #language-download .lang .list-lang-menu li a {
  color: #1a4bb7;
  font-weight: 500;
}

.nav .btn-download {
  padding: 8px 38px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  margin-left: 15px;
  color: rgba(26, 75, 183, 1);
  font-weight: bold;
}
.nav.sticky .menu-mobile .bgr-ct {
  filter: invert(0);
}

.menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.menu-mobile.active-menu-mobile .bgr-ct {
  background: url(../img/icon/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
  transition: 0.2s;
}
.menu-mobile .bgr-ct {
  width: 100%;
  height: 100%;
  background: url(../img/icon/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-mb {
  background: url(../img/footer.png);
  background-size: cover;
  background-position: center;
  background-color: white;
  width: 25%;
  height: 100vh;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -500px;
  transition: all 0.3s linear;
}
.menu-mb li {
  padding: 10px;
  margin-bottom: 30px;
  transition: all 0.3s linear;
}
.menu-mb li a {
  color: #111;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.menu-mb li:hover {
  transform: translateY(-10px);
  background-color: #111;
  transition: all 0.3s linear;
}
.menu-mb li:hover a {
  color: #fff;
  transition: all 0.3s linear;
}
.menu-mb.active-list {
  right: 0px;
  transition: all 0.3s linear;
}
/* big-image*/
.banner .big-image-banner {
  position: absolute;
  width: 40%;
  right: 0;
  top: 5%;
  z-index: 2;
}
.banner .big-image-banner img {
  width: 100%;
}
/*  */
.banner .content-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px 13vw;
  height: 50%;
  color: #fff;
  width: 60%;
}
.banner .content-banner .introduce-banner {
  padding: 30px 0 20px 0;
}
.banner .content-banner .list-func-produce {
  padding-bottom: 20px;
}
.banner .content-banner .list-func-produce ul li {
  display: flex;
  align-items: center;
}
.banner .content-banner .list-func-produce ul li::before {
  content: "•";
  font-size: 40px;
  padding-right: 10px;
}
.banner .content-banner .download-app {
  display: flex;
  flex-direction: row;
}
.banner .content-banner .download-app .qr-code {
  margin-right: 15px;
}
.banner .content-banner .download-app .link-download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* SALIENT-FEATURES------------------------------------------------ */
#salient-features {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.title-section-left {
  width: 301px;
  height: 61px;
  color: rgba(26, 75, 183, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.title-section-left img {
  position: absolute;
  top: 0;
  left: 0;
}
#salient-features .main-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
#salient-features .main-feature .feature-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 70px;
}

#salient-features .main-feature .feature-row .feature-box {
  width: 442px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#salient-features .main-feature .feature-row .feature-box:nth-child(odd) {
  background-image: url(../img/Rectangle39.svg);
}
#salient-features .main-feature .feature-row .feature-box:nth-child(even) {
  background-image: url(../img/Rectangle39-yl.svg);
}

#salient-features .main-feature .feature-row .feature-box .stripe {
  position: absolute;
  width: auto;
  height: auto;
}
#salient-features .main-feature .feature-row .feature-box:first-child .stripe {
  top: 5px;
  left: 50%;
}
#salient-features .main-feature .feature-row .feature-box .stripe img {
  position: absolute;
}

#salient-features
  .main-feature
  .feature-row
  .feature-box:first-child
  .stripe
  img:last-child {
  top: 40px;
  left: 70px;
}
#salient-features .main-feature .feature-row .bxf2 .stripe {
  bottom: 40%;
  left: 45%;
}
.bxf3 .stripe {
  top: -20%;
  right: 100%;
}

#salient-features .main-feature .feature-row .feature-box:last-child .stripe {
  top: 5%;
  left: 5%;
}
.feature-box:last-child .stripe img:last-child {
  top: 220px;
  left: 350px;
}

#salient-features .main-feature .feature-row .feature-box .picture-ex {
  width: 65%;
  height: 70%;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 25px;
  left: -24%;
}

.feature-box:first-child .picture-ex {
  background-image: url(../img/icon/img-welcome.png);
}

.bxf2 .picture-ex {
  background-image: url(../img/icon/img-onboarding-01.png) !important;
}

.bxf3 .picture-ex {
  background-image: url(../img/icon/img-onboarding-02.png) !important;
}

.feature-box:last-child .picture-ex {
  background-image: url(../img/icon/img-onboarding-03.png);
}

#salient-features .main-feature .feature-row .feature-box .title-fea,
#salient-features .main-feature .feature-row .feature-box .content-fea {
  z-index: 2;
  position: absolute;

  left: 40%;
  width: 50%;
}
#salient-features .main-feature .feature-row .feature-box .title-fea {
  top: 20%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #212353;
}
#salient-features .main-feature .feature-row .feature-box .content-fea {
  top: 35%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4b5d68;
}

/* TEAM-building---------------------------------------------------- */
#team-building {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}
#team-building .main-building {
  width: 55%;
}
#team-building .main-building .team-building-box {
  padding: 40px 0 20px;
}
#team-building .main-building .team-building-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1c2433;
}
#team-building .main-building .team-building-box .contain-sec-bx {
  display: flex;
  flex-direction: row;
}
#team-building .main-building .team-building-box .title-contain-box {
  padding-bottom: 20px;
  margin-left: 30px;
}
#team-building
  .main-building
  .team-building-box
  .title-contain-box
  .title-contain {
  padding: 3px 0 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #1c2433;
}
#team-building .img-tb-box {
  width: 50%;
  position: absolute;
  bottom: 10%;
  right: -10%;
}
#team-building .img-tb-box img:first-child {
  position: absolute;
  bottom: -50px;
  z-index: 1;
}
#team-building .img-tb-box img:last-child {
  position: absolute;
  bottom: 0;
  left: 33%;
}
/* MEETING-ONLINE-------------------------------------------------- */
#meeting-online {
  position: relative;
  padding: 100px 0 100px 47vw;
  display: flex;
  flex-direction: column;
}
#meeting-online .title-section-left {
  width: 420px;
  color: #fff;
}
#meeting-online .title-section-left img {
  filter: brightness(1000%);
}
#meeting-online .main-meeting {
  width: 70%;
}
/* ==== */
#meeting-online .main-meeting .meet-o-box {
  padding: 40px 0 20px;
}
#meeting-online .main-meeting {
  margin-left: 30px;
}
#meeting-online .main-meeting .meet-o-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
#meeting-online .main-meeting .meet-o-box .contain-meeting-bx {
  display: flex;
  flex-direction: row;
}
#meeting-online .main-meeting .meet-o-box .title-contain-box {
  padding-bottom: 20px;
  margin-left: 30px;
}
#meeting-online .main-meeting .meet-o-box .title-contain-box .title-contain {
  padding: 3px 0 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
#meeting-online .main-meeting .meet-o-box .title-contain-box .content-contain {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
#meeting-online .img-mo-box {
  width: 50%;
  position: absolute;
  bottom: 10%;
  right: -10%;
}

#meeting-online .img-mo-box {
  position: absolute;
  z-index: 1;
  left: 200px;
  bottom: 15%;
}

#meeting-online .img-mo-box img:first-child {
  position: absolute;
  bottom: -50px;
  left: 24%;
  z-index: 1;
}
#meeting-online .img-mo-box img:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
/*  */
.custom-shape-divider-top-1606832142 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1606832142 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 61px;
}

.custom-shape-divider-top-1606832142 .shape-fill {
  fill: #eff2f7;
}
/*  */
.custom-shape-divider-bottom-1606832267 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606832267 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1606832267 .shape-fill {
  fill: #eff2f7;
}
/* FUCTION--------------------------------------------------------- */
#ss4 {
  padding-bottom: 50px;
}
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.main-title .bg-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: rgb(12, 79, 224);
}
.main-title .sm-title {
  font-size: 16px;
  color: rgba(60, 72, 88, 1);
  font-weight: 500;
  line-height: 19.2px;
}

.main-function {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.main-function .col-contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main-function .col-contents .active {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.main-function .col-contents .child-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main-function .col-contents:first-child .child-content {
  text-align: right;
}
.main-function .col-contents:last-child .child-content {
  text-align: left;
}

.main-function .col-contents .child-content .title-function {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: #3c4858;
  padding: 10px 0;
}
.main-function .col-contents .active .title-function {
  color: rgb(12, 79, 224);
}
.main-function .col-contents .child-content .content-function {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8492a6;
}
.main-function .col-video {
  padding: 0 40px 0;
}
.main-function .col-contents .child-content .arrow {
  position: absolute;
  top: 32%;
  display: none;
}
.arrow-r {
  right: -11%;
}
.arrow-l {
  left: -11%;
  transform: rotate(180deg);
}

/* FOOTER -------------------------------------------*/
#footer-box {
  position: relative;
  overflow: hidden;
  background: url(../img/footer.png);
  background-position: center;
  background-size: cover;
}
#footer-box .bgr-footer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#footer-box .bgr-footer img {
  width: 100%;
  object-fit: cover;
}
#footer-box .main-footer {
  height: 100%;
  position: relative;
}
#footer-box .main-footer .content-footer-bx {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
#footer-box .main-footer .content-footer-bx:first-child {
  height: 35%;
}
#footer-box .main-footer .content-footer-bx:last-child {
  height: 65%;
}

#footer-box .main-footer .content-footer-bx .content-bx {
  padding: 10px 13vw 0;
}
#footer-box .main-footer .content-footer-bx:first-child .content-bx h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 30px;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  color: #ffffff;
  height: 89px;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .qr-code {
  height: 100%;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .qr-code
  img {
  height: 100%;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .link-download {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
}

#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45%;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .ctn:first-child {
  border-radius: 19.5px;
  background: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #1a4bb7;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .link-download
  .ctn:last-child
  img {
  width: 105px;
  height: 33px;
}
#footer-box
  .main-footer
  .content-footer-bx:first-child
  .content-bx
  .download-app
  .link-download
  .ctn:last-child
  img:last-child {
  margin-left: 5px;
}

#footer-box .main-footer .content-footer-bx:last-child {
  width: 100%;

  background: url(../img/footer-blur.png);
  background-size: cover;
  background-position: center;
}

/*  */
#footer-box .main-footer .content-footer-bx:last-child {
  align-items: flex-start;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter {
  z-index: 1;
  padding-top: 70px;
  color: #fff;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter-1 {
  padding-left: 13vw;
  width: 47%;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter-1 .logo-fter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 40px;
}

#footer-box .main-footer .content-footer-bx:last-child .c-fter .logo-fter h3 {
  font-weight: bold;
  font-size: 26px;
  margin-left: 10px;
}

#footer-box .main-footer .content-footer-bx:last-child .c-fter-1 .address p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}

#footer-box .main-footer .content-footer-bx:last-child .c-fter-1 .copyright {
  padding-top: 60px;
}

#footer-box .main-footer .content-footer-bx:last-child .c-fter-2 {
  display: flex;
  flex-direction: row;

  padding-right: 100px;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter-2 .hyperlink {
  padding-right: 100px;
}
#footer-box .main-footer .content-footer-bx:last-child .title-fter {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 30px;
  padding-top: 20px;
}
#footer-box
  .main-footer
  .content-footer-bx:last-child
  .c-fter-2
  .hyperlink
  ul
  li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 1px;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter-3 {
  position: relative;
  height: 100%;
}
#footer-box
  .main-footer
  .content-footer-bx:last-child
  .c-fter-3
  .social-network
  img {
  margin-right: 10px;
}
#footer-box .main-footer .content-footer-bx:last-child .c-fter-3 .chat {
  position: absolute;
  bottom: 5%;
  right: -40%;
}
